

.fim{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info{
    color: #A399AB;
}

.img{
    border-radius: 50%;
    width: 100px;
}